
#img-1{
    width: 69px;
    height: 43px;
    top: 27px; 
    position: absolute;
    left: 105px;
    gap: 0px;
    opacity: 0px;
  }
  #a-1{
    width: 52px;
height: 27px;
position: absolute;
top: 43px;
left: 414px;
gap: 0px;
opacity: 0px;
font-family: Muli;
font-size: 18px;
font-weight: 700;
line-height: 26.53px;
text-align: left;
color:#9E090F ;

  }
  #a-2{
    width: 50px;
    height: 27px;
    position: absolute;
    top: 43px;
    left: 576px;
    gap: 0px;
    opacity: 0px;
    font-family: Muli;
font-size: 18px;
font-weight: 700;
line-height: 26.53px;
text-align: left;
color: #171717;

  }
  #a-3{
    position: absolute;
    width: 78px;
height: 27px;
top: 43px;
left: 736px;
gap: 0px;
opacity: 0px;
font-family: Muli;
font-size: 18px;
font-weight: 700;
line-height: 26.53px;
text-align: left;
color: #171717;
  }
  #a-4{
  position: absolute;
  width: 70px;
height: 27px;
top: 43px;
left: 924px;
gap: 0px;
opacity: 0px;
font-family: Muli;
font-size: 18px;
font-weight: 700;
line-height: 26.53px;
text-align: left;
color: #171717;
  }
  #img-2{
    position: absolute;
    width: 24px;
height: 24px;
top: 44px;
left: 1176px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
z-index: 3;
  }
  #button-1{
    width: Hug (124px)px;
height: Hug (43px)px;
top: 35px;
position: absolute;
left: 1235px;
padding: 8px 28px 8px 28px;
gap: 10px;
border-radius: 25px;
opacity: 0px;
background-color: #9E090F;
z-index: 3;
  }
  #img-3{
 position: absolute;
 width: 700.42px;
height: 1008.64px;
top: 10px;
left: 720px;
gap: 0px;
opacity: 0px;
color:#FFCE46 ;
z-index: -1;
}
#img-4{
 width: 833px;
height: 833px;
position: absolute;
top: 111px;
left: 626px;
gap: 0px;
opacity: 0px;
}
h1{
    width: 628px;
height: 260px;
position: absolute;
top: 100px;
left: 100px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 81px;
font-weight: 600;
line-height: 91px;
text-align: left;
}
#span{
font-family: Outfit;
font-size: 78px;
font-weight: 600;
line-height: 91px;
text-align: left;
color: #9E090F;
}
p{
    position: absolute;
    width: 529px;
height: 68px;
top: 455px;
left: 97px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 18px;
font-weight: 500;
line-height: 34px;
text-align: left;
color: #5A5A5A;

}
#button-2{
    position: absolute;
    width:196px;
    height: 49px;
    top: 575px;
    left: 100px;
    padding: 12px;
    gap: 10px;
    border-radius: 77px;
    opacity: 0px;
    background-color: #9E090F;

}
#button-3{
    position: absolute;
    width: 194px;
height: 49px;
top: 575px;
left: 309px;
padding: 12px 29px 14px 29px;
gap: 10px;
border-radius: 77px;
opacity: 0px;
background-color: #f3f3f3;
}
#div-1{
  width: 471px;
height: 322.12px;
position: absolute;
top: 668px;
left: 87px;
gap: 0px;
opacity: 0px;

}
#img-5{
  width: 171.94px;
height: 175.21px;
top: 668px;
left: 112.03px;
gap: 0px;
opacity: 0px;

}
h2{
  font-family: Outfit;
  position:absolute;
font-size: 19.59px;
font-weight: 600;
line-height: 26.12px;
text-align: center;
color: #000000;
}
#p-1{
  width: 193.71px;
height: 17.41px;
position: relative;
top: 911.77px;
left: 101.15px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 13.06px;
font-weight: 500;
line-height: 26.12px;
text-align: center;
color: #7D7D7D;
}
#p-1{
  width: 155px;
height: 76.93px;
position: absolute;
top: 206px;
left: 736px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 24px;
font-weight: 600;
line-height: 30.24px;
text-align: left;
background-color: #FFFFFF;
color: #000000;
border-radius: 11.48px;
}
#span-1{
  font-family: Outfit;
font-size: 14px;
font-weight: 600;
line-height: 17.64px;
text-align: left;
color: #9E090F;
}
#span-2{
  font-family: Outfit;
font-size: 14px;
font-weight: 700;
line-height: 17.64px;
text-align: left;

}
#img-7{
  width: 39.52px;
height: 39.52px;
position: absolute;
top: 214.04px;
left: 850px;
gap: 0px;
opacity: 0px;
color: #9E090F;
}
#p-3{
  width: 135.38px;
height: 10.2px;
position: absolute;
top: 880.91px;
left: 910.06px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 14px;
font-weight: 600;
line-height: 17.64px;
text-align: left;


}
#span3{
  font-family: Outfit;
font-size: 14px;
font-weight: 700;
line-height: 17.64px;
text-align: left;
color: #9E090F;
}
#span-5{
  font-family: Outfit;
font-size: 14px;
font-weight: 500;
line-height: 17.64px;
text-align: left;
color: #000000;
}
#span-6{
  font-family: Outfit;
font-size: 14px;
font-weight: 500;
line-height: 17.64px;
text-align: left;
color: #000000;
}
#img-8{
  width: 28.15px;
height: 28.15px;
position: absolute;
top: 892.53px;
left: 1050.49px;
gap: 0px;
opacity: 0px;
}
#container{
  width: 471px;
height: 322.12px;
position: absolute;
top: 750px;
left: 87px;
gap: 0px;
opacity: 0px;
}
#div-1{
  width: 222px;
  height: 274.12px;
  position: absolute;
  top: 740px;
  left: 87px;
  gap: 0px;
  opacity: 0px;
background-color: #FFFFFF;   
border-radius: 22.85px;
}
#div-2{
  width: 222px;
height: 274.53px;
position: absolute;
top: 740px;
left:328px;
gap: 0px;
border-radius: 22.85px ;
opacity: 0px;
position:absolute;
background-color: #9E090F;
}
#img-9{
  width: 210.94px;
height: 210.21px;
position: absolute;
top: 668px;
left: 92.03px;
gap: 0px;
opacity: 0px;
z-index: 3;
}
#p-4{
  font-family: Outfit;
font-size: 21.59px;
font-weight: 600;
line-height: 26.12px;
text-align: center;
width: 138.21px;
height: 46.79px;
position: absolute;
top:846.47px;
left: 128.35px;
gap: 0px;
opacity: 0px;
color: #000000;
z-index: 10;


}
#p-5{
  width: 193.71px;
height: 17.41px;
top: 910.77px;
left: 101.15px;
gap: 0px;
opacity: 0px;
color: #7D7D7D;
z-index: 10;
font-family: Outfit;
font-size: 13.06px;
font-weight: 500;
line-height: 26.12px;
text-align: center;

}
#p-6{
  width: 47.88px;
height: 26.12px;
top: 937.88px;
left: 104.41px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 17.41px;
font-weight: 600;
line-height: 26.12px;
text-align: center;
color: #171717;
z-index: 2;
}
#img-10{
  width: 26.12px;
height: 26.12px;
position:absolute;
top: 956.88px;
left: 257.85px;
gap: 0px;
border-radius: 4.35px 0px 0px 0px;
opacity: 0px;
z-index: 10;

}
#p-7{

width: 138.21px;
height: 46.79px;
top: 842.47px;
left: 370.35px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 19.59px;
font-weight: 600;
line-height: 26.12px;
text-align: center;
color: #FFFFFF;
}
#img-11{
  width: 210.94px;
height: 210.21px;
position: absolute;
top: 665px;
left: 334.03px;
gap: 0px;
opacity: 0px;

}
#p-8{
  width: 193.71px;
height: 17.41px;
top: 911.76px;
left: 350.15px;
gap: 0px;
opacity: 0px;
font-family: Outfit;
font-size: 13.06px;
font-weight: 500;
line-height: 26.12px;
text-align: center;
color:#D9D9D9 ;

}
#p-9{
  font-family: Outfit;
font-size: 17.41px;
font-weight: 600;
line-height: 26.12px;
text-align: center;
width: 47.88px;
height: 26.12px;
top: 937.88px;
left: 353.41px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
}
#img-12{
  width: 26.12px;
height: 26.12px;
position: absolute;
top: 956.88px;
left: 506.85px;
gap: 0px;
border-radius: 4.35px 0px 0px 0px;
opacity: 0px;
z-index: 10;
}